### IBUS
export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=xim
export QT4_IM_MODULE=xim

ibus-daemon -drx

export PATH="$HOME/bin:$HOME/.yarn/bin:$HOME/.local/bin:$PATH"

### XDG variables
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

### QT scale
export QT_FONT_DPI=96

